* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}

.heading {
    color: azure;
    text-align: center;
    font-size: 2em;
    margin: 2em 0;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin: 0 1em;
    size: 200px;
}

.images img {
    width: 100%;
    cursor: pointer;
}
.images img:hover {
    transform: scale(0.9);
    opacity: 0.5;
   
}